* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --news-title-and-hover: hsl(35, 77%, 62%);
    --btn-and-hover: hsl(5, 85%, 63%);
    --Number: hsl(233, 8%, 79%);
    --secondary-text: hsl(236, 13%, 42%);
    --primary-text-and-dark-bg: hsl(240, 100%, 5%);
    --bg-and-contrast-text: hsl(36, 100%, 99%);
    --px15: 0.9375rem;
    --gap: 1.5rem;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 2rem 12%;
    display: grid;
    /*grid-template-rows: min-content repeat(3, 1fr); */
    grid-template-columns: repeat(3, [content-start] 2fr [content-end]);
    row-gap: var(--gap);
    column-gap: var(--gap);
    background-color: var(--bg-and-contrast-text);
}

button {
    background-color: transparent;
    border: none;
}

.navabar__list__item__link:hover,
.popular__article__text__link:hover {
    color: var(--btn-and-hover);
}

.main-article__img-box__hero,
.popular__article__img>img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.main-article__text-box__paragraph,
.popular__article__text__paragraph,
.news__list__item__paragraph {
    font-size: var(--px15);
    line-height: 1.5;
    color: var(--secondary-text);
}

/* +-----+-----+-----+ NAVBAR +-----+-----+-----+ */
.navbar {
    display: flex;
    justify-content: space-between;
    grid-column: content-start 1 / content-end 3;
    grid-row: 1 / 2;
    margin: 1.5rem 0;
}

.navbar__logo-box {
    display: flex;
}

.navbar__logo {
    height: 2rem;
}

nav {
    width: 40%;
    height: 100%;
    display: flex;
}

.navbar__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navabar__list__item__link {
    display: flex;
    font-size: var(--px15);
    text-decoration: none;
    color: var(--secondary-text);
}

nav button {
    display: none;
}

.navbar__close {
    display: none;
}

.navbar__icon-menu {
    display: none;
}

/* +-----+-----+-----+ MAIN +-----+-----+-----+ */
.main-article {
    grid-column: content-start 1 / content-end 2;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--gap);
    column-gap: var(--gap);
}

.main-article__img-box {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.main-article__title {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.main-article__title__h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1;
}

.main-article__text-box {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.main-article__text-box__btn {
    width: 55%;
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    color: var(--bg-and-contrast-text);
    background-color: var(--btn-and-hover);
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
}

.main-article__text-box__btn:hover {
    background-color: var(--primary-text-and-dark-bg);
}

/* +-----+-----+-----+ NEWS +-----+-----+-----+ */
.news {
    grid-column: content-start 3 / content-end 3;
    grid-row: 2 / 4;
    padding: 1.5rem 1.5rem 1rem;
    background-color: var(--primary-text-and-dark-bg);
    display: flex;
    flex-direction: column;

}

.news__title {
    color: var(--news-title-and-hover);
    font-size: 2.5rem;
}

.news__list {
    list-style: none;
    height: 100%;
    display: grid;

}

.news__list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.news__list__item__paragraph {
    color: var(--Number);
}

.news__list__item:not(:last-child) {
    border-bottom: 1px solid var(--secondary-text);
}

.news__list__item__link {
    color: var(--bg-and-contrast-text);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.news__list__item__link:hover {
    color: var(--news-title-and-hover);
}

/* +-----+-----+-----+ POPULAR +-----+-----+-----+ */
.popular {
    grid-column: content-start 1 / content-end 3;
    grid-row: 4 / 5;
    display: grid;
    align-content: center;
    row-gap: var(--gap);
    column-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin-top: 3rem;
}

.popular__article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap);
}

.popular__article__img {
    grid-column: 1 / 2;
}

.popular__article__text {
    grid-column: 2 / 4;
}

.popular__article__text__number {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Number);
    margin-bottom: .5rem;
}

.popular__article__text__link {
    font-size: 1.125rem;
    color: var(--primary-text-and-dark-bg);
    text-decoration: none;
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}

/* +-----+-----+-----+ FOOTER +-----+-----+-----+ */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1200px) {
    body {
        padding: 2rem;
    }

    .main-article__title__h1 {
        font-size: 3rem;
    }

    .news__title {
        font-size: 2rem;
    }

    nav {
        width: 60%;
    }
}

@media screen and (max-width: 750px) {

    .navbar {
        grid-column: 1 / -1;
        margin: 1.5rem 0 0;
    }

    nav {
        width: 80%;
    }

    .main-article {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    .main-article__title {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }

    .main-article__title__h1 {
        font-size: 2.5rem;
    }

    .main-article__text-box {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
    }

    .main-article__text-box__btn {
        margin-top: 1.5rem;
    }

    .news {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 500px) {

    body {
        padding: 0 1rem 2rem;
        position: relative;
    }

    .overflow-effect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .5;
        display: none;
    }

    nav {
        display: none;
        width: 70%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: var(--bg-and-contrast-text);
        flex-direction: column;
    }

    .navbar__list {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .navbar__list__item {
        margin-left: 1.5rem;
        margin-bottom: 1.75rem;
    }
    
    nav button {
        width: 100%;
        display: block;
    }

    .navbar__close {
        height: 2rem;
        margin: 1.5rem 1.5rem 5rem auto;
        display: block;
        cursor: pointer;
        animation: transform .2s;
    }

    .navbar__icon-menu {
        display: flex;
        align-items: center;
        cursor: pointer;
        animation: transform .2s;
    }

    .navbar__icon-menu:active,
    .navbar__close:active {
        transform: translateY(3px);
    }

    .navabar__list__item__link {
        font-size: 1rem;
        color: var(--primary-text-and-dark-bg);
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 87.5%;
    }
}
